.welcome-container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9B59B6; /* Purple */
  color: white;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px; /* Reduces space below h1 */
}

p {
  font-size: 18px;
  color: white;
  margin-top: 5px; /* Reduces space above p */
}


.small-button {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #9B59B6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.small-button:hover {
  background-color: #F0F0F0;
}

.welcome-logo-container {
  position: relative;
  width: 300px; /* Size of the circular frame */
  height: 300px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  border-radius: 50%; /* Circular shape */
  background-color: #F0F0F0; /* Background for the frame */
  overflow: hidden;
}

.welcome-logo-container img {
  width: 150%; /* Ensures proper fit */
  height: 150%;
  object-fit: contain; /* Keeps full image within frame */
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
}


h1.welcome-heading {
  color: white !important;
  font-size: 28px !important;
  margin-top: 25px;
}

.welcome-text {
  font-size: 18px;
  color: purple;
  margin-top: 30px; /* Ensures p starts immediately after h1 */
}

p.welcome-text {
  font-size: 18px;
  color: white;
  margin-top: 0px; /* Ensures p starts immediately after h1 */
}



